HOST=changeme
PORT=changeme
APP_KEYS=changeme
API_TOKEN_SALT=changeme
ADMIN_JWT_SECRET=changeme
JWT_SECRET=changeme
TRANSFER_TOKEN_SALT=changeme
ENCRYPTION_KEY=changeme
DATABASE_CLIENT=changeme
DATABASE_HOST=changeme
DATABASE_PORT=changeme
DATABASE_NAME=changeme
DATABASE_USERNAME=changeme
DATABASE_PASSWORD=changeme
DATABASE_SSL=changeme
DATABASE_FILENAME=changeme
